body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1,
h2 {
  color: rgb(76, 42, 95);
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}
p {
  font-size: 18px;
  text-align: justify;
}
