* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

body {
  font-size: 25px;
  color: white;
  background: black;
}

.grid-container {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
